<div id="code" class="tab-pane">
  <div class="two-column-container">
    <div class="main-column">
      <div id="events-panel" class="well stacked">
        <h3 class="clearfix">
          Code
        </h3>
        
        <a id="btn-create-code" href="#"><i class="icon-white icon-plus"></i></a>
        <div id="event-editor" class="default-editor"></div>
        

        <div style="margin: 20px;">
            <a id="btn-run-code" class="btn btn-success">Run Code</a>
            <a id="btn-clear-console" class="btn btn-warning">Clear Console</a>
            <a id="btn-delete-code" class="btn btn-danger">Delete Code</a>
        </div>
        
        <div>
            <h4>Errors</h4>
            <pre id="error-output"></pre>
            <h4>Result</h4>
            <pre id="result-output"></pre>
            <h4>Console</h4>
            <pre id="console-output"></pre>
        </div>
      </div>
    </div>
  </div>
</div>